<div>
  {{! Reminder: userExamples comes from the data being passed in the res.render on pageOneRoutes.js! }}
  {{#each userExamples}}

  <h2>{{title}}</h2>
  <p>{{message}}</p>

  {{/each}}
</div>
<div>
  <h2>Create New Message</h2>
</div>
<form id="new-data-form">
  <label for="data-title">Title</label>
  <textarea name="data-title"></textarea>
  <label for="data-message">Message</label>
  <textarea name="data-message"></textarea>

  <button type="submit">Create</button>
</form>
<script src="/js/newData.js"></script>
<script src="/js/page-one.js"></script>