<div>
    {{!-- Reminder: examples comes from the data being passed in the res.render on homeRoutes.js! --}}

  {{#each examples}}
  {{!-- Reminder- this is a partial! Handlebars will render the code located in items.handlebars in the /partials/ directory! --}}
    {{>items}}
  {{/each}}
</div>

